.scene-layout{
    padding: 2em;
    height: 100%;
}

.scene-home{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "A C C"
        "A C C"
        "B C C";
}

.menu{
    display: flex;
    justify-content: space-between;
    grid-area: A;
    
}

.menu_list{
    list-style: none;
    padding: 0;
}

.menu_title{
    font-size: 48px;
    font-weight: 200;
}

.menu_items{
    padding-bottom: 1rem;
}

.menu_link:hover{
    font-weight: 500;
    transition: 0.1s;
}

.menu_link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 100;
}

.logo_block{
    grid-area: B;
}

.home_scene_logo{
    cursor: pointer;
}

.home_scene_logo:hover{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}  
}

.title_text{
    grid-area: C;
    font-size: 256px;
    text-align: end;
    align-self: end;
    margin: 0;
    position: relative;
}

#title_1{
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 30px;
    font-size: inherit;
    z-index: 0;
}

#title_2{
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: inherit;
    color: #5e5e5e; 
    z-index: -1;
}
#title_3{
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 256px;
    color: #5e5e5e;
    z-index: -1;
}

#title_4{
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: inherit;
    color: #5e5e5e;
    z-index: -2;
}

#car{
    position: absolute;
    width: 100px;
    height: auto;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    pointer-events: none;   
    z-index: 1;
}

.text_block{
    position: absolute;
    width: 600px;
    height: 200px;
    right: 130px;
    top: 140px;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 2em;
    box-shadow: rgb(187, 187, 187) 10px 10px;
    border: rgb(63, 63, 63) 1px solid;
}

.gen_text{
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    
}
