@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html{
      overflow: hidden;

}

body{
    background-color: black;
    /* background-image:
    linear-gradient(#1f1f1f 1px, transparent 1px),
    linear-gradient(90deg, #1f1f1f 1px, transparent 1px);
    background-size: 70px 70px;
    /* overflow: hidden; */ 
}

#app {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    
}
.scene {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    background-image:
    linear-gradient(#1f1f1f 1px, transparent 1px),
    linear-gradient(90deg, #1f1f1f 1px, transparent 1px);
    background-size: 70px 70px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.scene.active {
    opacity: 1;
    pointer-events: auto;
}
.back_btn{
    font-size: 128px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 10%;
    top: 2%;
    font-weight: 200;
}