@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgb(10, 10, 10);
  overflow: hidden;
  background-image:
    linear-gradient(#1f1f1f 1px, transparent 1px),
    linear-gradient(90deg, #1f1f1f 1px, transparent 1px);
  background-size: 70px 70px;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  inset: 0;

}

.light {
  background-image:
    linear-gradient(#1F1F1F 1px, transparent 1px);
    
  background-size: 70px 70px;
  filter: blur(0.6px);
  
}

.light {
  transform: scale(1.01);
}

.title{
  color: white;
  font-size: 256px;
  font-weight: 100;
  letter-spacing: 1rem;
}
